.item {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid var(--color-background-100);
  padding: 14px 22px;
}

.item:hover {
  background-color: var(--color-background-100);
}

.poster {
  height: 65px;
  width: auto;
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-right: 30px;
}

.title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
