.container {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
  border-radius: 0.7rem;
  background-color: var(--color-background-500);
}

.header {
  display: flex;
  align-items: center;
  background-color: var(--color-background-100);
}

.summary {
  padding: 2.5rem;
}

.btnBack {
  background-color: var(--color-background-900);
  position: absolute;
  top: 12px;
  left: 12px;
  color: var(--color-text);
  font-size: 20px;
  font-weight: bold;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 0;
}

.btnToggle {
  background-color: var(--color-background-900);
  position: absolute;
  top: 12px;
  right: 12px;
  color: var(--color-text);
  font-size: 15px;
  font-weight: bold;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 0;
}

.btnBack:hover {
  cursor: pointer;
}

.poster {
  height: 250px;
  width: auto;
  margin-right: 25px;
}

.rating {
  display: flex;
  background-color: var(--color-background-100);
  padding: 1rem;
  border-radius: 8px;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.summary p {
  margin-bottom: 1rem;
}

.info h2,
.info p {
  margin-bottom: 1rem;
}
