.list {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--color-background-500);
  border-radius: 0.7rem;
}

.btnToggle {
  background-color: var(--color-background-900);
  position: absolute;
  top: 12px;
  right: 12px;
  color: var(--color-text);
  font-size: 15px;
  font-weight: bold;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 0;
}
